<%- include('partials/header') -%>
<div class="hero min-h-screen bg-neutral text-base-100">
    <div class="hero-content flex-col ">
        <h1 class="text-5xl font-bold">Create an Account</h1> 
      <div class="text-center lg:text-left">
      <div class="form-control">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <form action="/signup" method="POST">
            <div class="form-control my-2 text-left">
                <label for="userName" class="form-label">Legal First and Last Name</label>
                <input type="text" placeholder="Your Name" class="input input-bordered w-full max-w-xs text-neutral" id="userName" name="userName" />
              </div>
            <div class="form-control my-2 text-left">
                <label for="email" class="form-label">Email</label>
                      <input type="text" placeholder="Your Email" class="input input-bordered w-full max-w-xs text-neutral" id="email" name="email"/>
                    </label>
                  </div>
            <div class="form-control my-2 text-left">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="input input-bordered w-full max-w-xs text-neutral" id="password" name="password">
            </div>
            <div class="form-control my-2 text-left">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="input input-bordered w-full max-w-xs text-neutral" id="confirmPassword" name="confirmPassword">
              </div>
            <div class="my-2 text-left">
              By creating an account, you are agreeing to the Write to Run Well terms & conditions and privacy policy.
            </div>
            <button type="submit" class="btn btn-base text-base-100 border-base-100 my-5">Create an Account</button>
          </form>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer') -%>