<%- include('partials/header-login-index') -%>
<h1>404 Not Found</h1>
<p>We're sorry, this resource isn ot found</p>
<button><a href="/dashboard" class="btn btn-primary">Go to Dashboard</a></button>
<%- include('partials/footer') -%>
<%- include('partials/footer') -%>