<%- include('partials/header-login-index') -%>
<h1>Server Error</h1>
<p>We're sorry, something went wrong</p>
<button><a href="/dashboard" class="btn btn-primary">Go to Dashboard</a></button>
<%- include('partials/footer') -%>